<div>
  <span class="btn btn-default fileinput-button">
  <i class="glyphicon glyphglyphicon glyphicon-plus"></i>
    <span>Upload File</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files[]" multiple>
  </span>
</div>
<hr />
<button {{action startAllUploads}}>start uploads</button>
progress all: {{progressall}}
<div>
  {{#each upload in uploads}}
  <button {{action startUpload upload}}>start upload</button>
    {{#each file in upload}}
    <table>
      <tbody class="table-striped">
        <tr>
          <td>
            {{file.name}}
          </td>
          <td>
            {{file.size}}
          </td>
          <td>
            {{file.progress}}
          </td>
        </tr>
      </tbody>
    </table>
    {{/each}}
  {{/each}}
</div>
