<div>
  <span class="btn btn-default fileinput-button">
  <i class="glyphicon glyphglyphicon glyphicon-plus"></i>
    <span>Upload File</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files[]" multiple>
  </span>
</div>
<hr />
<button {{action 'startAllUploads'}}>start all</button>
<button {{action 'cancelAllUploads'}}>cancel all</button>
<br />
progress all: {{progressall}}
<div>
  {{#each upload in uploads}}
    {{#each file in upload}}
    <table>
      <tbody>
        <tr>
         <td>
            {{jq-preview preview=file.preview}}
          </td>
          <td>
            {{file.name}}
          </td>
          <td>
            {{file.size}}
          </td>
          <td>
            {{file.progress}}
          </td>
          <td>
            {{file.error}}
          </td>
          <td>
            <button {{action 'startUpload' upload}}>start start</button>
            <button {{action 'cancelUpload' upload}}>cancel upload</button>
          </td>
        </tr>
      </tbody>
    </table>
    {{/each}}
  {{/each}}
</div>
